$color-primary: #f3f1f5;
$color-2: #f0d9ff;
$color-3: #bfa2db;
$color-dark: #7f7c82;

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Sacramento");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $color-primary;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #4e4d4d;
}

h2 {
  font-size: 2.7em;
  text-align: center;
  color: $color-dark;
}
a {
  color: inherit;
  text-decoration: inherit;
}
main {
  overflow: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
  padding: 5rem 0rem;
  padding-top: 0;
  section {
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }
  #pocetna {
    position: relative;
    top: 0;
    background-image: url(./assets/slikaPocetna.jpg);
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 1.9;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: "Sacramento";
      text-align: center;
      width: 100%;
      font-size: 7rem;
      z-index: 100;
    }
    &:after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.5);
    }
  }
  #oNama {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    .prviPara {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h2 {
        align-items: center;
      }
      p {
        text-align: center;
        width: 60%;
      }
    }
  }
  .oOsobi {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    background-color: #bfa2db;
    padding: 3rem 3rem;
    color: white;
    h3 {
      align-self: last baseline;
      font-size: 2em;
    }
    div {
      justify-self: center;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding-bottom: 2rem;
      p {
        font-family: Sacramento;
        font-size: 1.5em;
      }
    }
    img {
      width: 50%;
      aspect-ratio: 0.75;
      height: auto;
      justify-self: center;
      background-color: white;
      grid-row: 1 / span 2;
    }
    .squeres {
      margin-top: -10%;
      width: 100%;
      display: flex;
      gap: 2rem;
      grid-column: 1 / span 2;
      flex-direction: row;
      div {
        padding: 0;
        width: 18%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family: "Sacramento";
        color: #4e4d4d;
        font-size: 2.3em;
        border-radius: 6px;
      }
    }
  }
  #usluge {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    .cards {
      width: 100%;
      max-width: 1500px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 1rem;
      .card {
        background-color: white;
        box-shadow: 0 8px 6px -6px #555;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        transition: all 0.4s ease;
        padding: 1rem;
        border-radius: 10px;
        img {
          border-radius: 50%;
          width: 50%;
          filter: brightness(0.9) invert(0.7) sepia(0.5) hue-rotate(-130deg)
            saturate(200%);
        }
        p {
          margin-top: 1rem;
          text-align: justify;
          font-size: 1em;
          line-height: 1.4em;
          letter-spacing: 1px;
        }
      }
      .card:hover {
        background-color: #f5e5ff;
        transform: scale(1.01);
      }
    }
    .line {
      height: 1px;
      width: 70%;
      background-color: #bfa2db;
    }
  }
  #cjenik {
    display: flex !important;
    align-items: center;
    .video {
      video {
        width: 60%;
        border-radius: 5px;
      }
      .iconSpeaker {
        cursor: pointer;
        position: relative;
        top: -15px;
        right: 45px;
        filter: invert(100%);
        z-index: 60;
      }
    }
  }
  #kontakt {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
    min-height: fit-content;
    grid-template-rows: auto;
    justify-content: center;
    h2 {
      grid-column: 1 / span 2;
      padding-left: 16px;
    }
    .info {
      justify-self: center;
      width: 100%;
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color: #4e4d4d;
      h3 {
        font-size: 1.2em;
        text-align: left;
      }
      div {
        padding: 1.5rem 1rem;
        width: 100%;
        max-width: 500px;
        transition: all 0.3s ease;
        overflow: hidden;
        border-radius: 4px;
        p {
          padding-top: 0.8rem;
          font-size: 1.1em;
        }
        .icons {
          display: flex;
          gap: 1.5rem;
          padding: 0;
          padding-top: 0.8rem;
          img {
            cursor: pointer;
          }
        }
      }
      div:hover {
        background-color: #f5e5ff;
      }
      .work-time {
        .work-time-grid {
          padding: 0;
          display: flex;
          .work-time-item {
            width: 50%;
            border-radius: 10px;
            padding: 20px 0px;
            p {
              font-size: 16px;
              margin: 0;
              margin-top: 5px;
              width: 55%;
            }
          }
        }
        h2 {
          font-size: 36px;
          margin-bottom: 50px;
        }
      }
    }

    .container {
      width: 100%;
      justify-content: center;
      display: flex;
      padding-top: 24px;
      form {
        width: 100%;
        max-width: 500px;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        div,
        label,
        input,
        textarea {
          width: 100%;
          transition: all 0.5s ease;
        }
        .field:nth-of-type(2) {
          margin: 25px 0;
        }
        label,
        input,
        textarea {
          padding: 8px;
        }

        label,
        [placeholder] {
          color: #555;
          font-size: 1em;
          font-family: "Roboto", sans-serif;
        }
        label {
          font-size: 1.2em;
        }
        label i {
          margin: 0 10px 0 0;
        }
        .field:focus-within label {
          color: #000;
          letter-spacing: 2px;
        }
        input,
        textarea {
          background: rgba(255, 255, 255, 0.5);
          border: none;
          border-radius: 4px;
          box-shadow: 0 8px 6px -6px #555;
        }
        input {
          padding: 10px 8px;
        }
        input:focus,
        textarea:focus {
          background: white;
          box-shadow: none;
        }
        textarea {
          resize: none;
        }
        button {
          font-size: 1.1em;
          background: $color-3;
          margin: 16px 0 50px 0;
          padding: 8px 16px;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          box-shadow: 0 8px 6px -6px #555;
          transition: all 0.5s ease;
        }
        button:hover {
          letter-spacing: 2px;
          box-shadow: none;
        }
      }
    }

    .mapouter {
      position: relative;
      text-align: left;
      width: 100%;
      grid-column: 1 / span 2;
    }
    .gmap_canvas {
      overflow: hidden;
      background: none !important;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      div {
        text-align: left;
        width: 80%;
        h3 {
          margin-bottom: 10px;
        }
      }
    }
    #gmap_canvas {
      width: 80%;
      min-width: 380px;
      aspect-ratio: 16/9;
    }
  }
}
#goUp {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
@media only screen and (max-width: 850px) {
  #pocetna {
    h1 {
      font-size: 5rem !important;
    }
  }
  #kontakt {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .container {
      padding: 0;
      form {
        min-width: 80% !important;
      }
    }
    .info {
      min-width: 100% !important;
      div:nth-of-type(1) {
        display: flex;
        .icons {
          width: 45%;
          padding-top: 0rem !important;
        }
        h3 {
          width: 55%;
        }
      }
      div:nth-of-type(2) {
        display: flex;
        p {
          width: 45%;
          padding-top: 0rem !important;
        }
        h3 {
          width: 55%;
        }
      }
    }
  }
  #cjenik {
    video {
      width: 100% !important;
    }
    .iconSpeaker {
      transform: translateY(-100%);
      right: -90% !important;
    }
  }
  .work-time {
    .work-time-grid {
      flex-direction: column !important;
      .work-time-item {
        width: 100% !important;
        gap: 10px;
        h3 {
          width: 60% !important;
        }
        p {
          margin: 0 !important;
          padding-top: 0rem !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  #usluge {
    .cards {
      .card {
        width: 29%;
      }
    }
  }
 
}
@media only screen and (max-width: 850px) {
  #oNama {
    p {
      width: 90% !important;
    }
    div {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      img {
        width: 70%;
      }
      p {
        width: 80% !important;
      }
    }
  }
  #usluge {
    .cards {
      .card {
        width: 43%;
      }
    }
  }

  .oOsobi {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    h3 {
      align-self: center !important;
    }
    .squeres {
      width: 100%;
      justify-content: space-evenly !important;
      margin-top: 0 !important;
      gap: 0 !important;
      div {
        width: 30% !important;
        font-size: 1.6em !important;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  #usluge {
    .cards {
      .card {
        width: 100% !important;
      }
    }
  }
  #pocetna {
    word-spacing: 100%;
  }
  .oOsobi {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    img {
      width: 100% !important;
    }
    h3 {
      align-self: center !important;
    }
    .squeres {
      width: 100%;
      justify-content: space-evenly !important;
      gap: 0 !important;
      div {
        width: 31% !important;
        font-size: 1.25em !important;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #usluge {
    .cards {
      .card {
        width: 22%;
      }
    }
  }
}
